$base-font-heading1:100px;
$base-font-heading2:30px;
$base-font-logo:20px;
$base-font-a_:16px;
$base-font-paragrph:18px;
$base-font-heading3:25px;
$base-font-percentage:12px;
$base-font-form:15px;
$base-font-heading4:20px;
$base-font-heading5:18px;
$base-font-banner-p:52px;

$color-white:#fff;
$color-bluewish:#011D2B;
$color-hover:#3D4B83;
$color-two:#1A2245;
$color-four:#00101A;
$color-button:#3E59B6;

$font-family:'Montserrat-Bold' ;
$font-family-regular:'Montserrat-Regular';


$small-heading1:45px;
$small-paragraph:12px;
$small-heading3:16px;
$small-heading2:23px;
$small-button:10px;
$small-logo:20px;
$small-banner-p:20px;





$mini-heading1:70px;
$mini-banner-paragraph:34px;
$mini-heading2:25;
$mini-heading3:20px;
$mini_button:13px;
$mini-paragraph:15px;
$mini-card-button:12px;


$pro-heading1:90px;
$pro-banner-paragraph:46px;
$pro-heading2:35px;
$pro-heading3:23px;
$pro-paragrph:17px;
$pro-button:17px;
$pro-button-card:13px;